doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Logowanie do systemu
  body
    form(action='/auth/google', method='GET')
      p
        | First Name: 
        input(type='text', name='user')
 
      input(type='submit', value='Submit')